@charset "utf-8";

body{
        font-size:12px;
        line-height:12px;
        color:#5d5d5d;
        background-color : #e2f0e9;
        overflow : hidden;
}
.logo{
        margin-top : 40px;
        margin-left : 600px;
        margin-bottom : 10px;
}
.uname
{
        font-family : 나눔고딕;
        position:relative;
        top : -10px;
        left : -155px;
        width:200%;
        height:30px;
        border-bottom:1px solid #ffffff;
        background-color:#21BDA9;
}
.button
{
        position : absolute;
        top:1px;
        left  :1400px;
}
.welcome
{
        font-size : 1.65em;
        position : absolute;
        top:10px;
        left :1200px;
        color : #3c3c3c
}
.sendtext
{
        position : absolute;
        left : 1370px;
}
#section
{
        position : absolute;
        top : 200px;
        left : 200px;
        text-align :center;
}
#docs
{
        position : relative;
        top : 30px;
        background-color : #f3f3f3;
        border:10px solid #21BDA9;
        outline-style : none;
        overflow-y:scroll;
        width:1200px;
        height:500px;
        font-size : 1.5em;
        line-height:170%
}
#title
{
        outline-style : none;
        position : absolute;
        font-size : 2em;
        text-align : left;
        font-family : sans-serif;
}
