@charset "utf-8";

body
{
    font-size:12px;
    line-height:12px;
    color:#5d5d5d;
    background-color : #e2f0e9;
    text-align:center;
}
.member
{
    margin: auto;
    width:350px;

}
.panel
{
    margin:15px;
    text-align:left;
}
.text
{
        color :#000000;
        font-family : 나눔고딕;
}
.title
{
    margin-top : 60px;
    margin-bottom : 40px;
    padding:10px;
    position:relative;
}
.login
{
    margin-top:5%;
    border:1px solid #6aa58e;
    background-color : #fafafa
}
.panel input[type="email"]
{
    height:25px;
    line-height : 30px;
    outline-style : none;
}
.panel input[type="password"]
{
    height:25px;
    line-height : 30px;
    outline-style : none;
}
.panel input[type="text"]
{
    height:25px;
    line-height : 30px;
    outline-style : none;
}
.logo
{
    text-align:center;
    padding:20px;
}
.signin, .signup
{
        position : relative;
        top : 5px;
        border: 0px;
        background : none;
        outline-style : none;
}
.signin
{
        position : relative;
        left :145px;
}
.bird
{
        text-align : right;
}
