@charset "utf=8";

body{
    font-size:12px;
    line-height:12px;
    color:#5d5d5d;
    background-color : #dff8eb;
    text-align:center;
}
.logo{
    margin-top : 200px;
    margin-bottom : 50px;
}
.uname{
    height :40px;
    background-color :  #21BDA9;
    margin-top :0px;
    margin-right :0px;
    margin-left : 0px;
    font-family : 나눔고딕;
}
#srch{
    background-color : #21BDA9;
    margin: auto;
    width:730px;
}
#srch input[type="text"]{
    border : none;
    color : none;
    margin : 10px;
    height:50px;
    width : 700px;
    line-height:auto;
    text-align : left;
    font-size : 2em;
    font-family : 나눔고딕;
    outline-style : none;
}
.ps
{
    margin-top : 30px;
    color:#b1b1b1;
    font-size : 1em;
}
.button
{
    position : absolute;
    top:12px;
    right :20px;
}
.welcome
{
    font-size : 1.65em;
    position : absolute;
    top:21px;
    right :250px;
    color : #3c3c3c
}
